.footer__column-link {
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  transition: opacity 1s linear;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: .2;
}
