.footer__column-link {
    margin-bottom:  10px;
    color: white;
    text-decoration: none;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    transition: opacity 1s linear;
}

.footer__column-link:hover {
    opacity: 0.2;
}